@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}

@layer components {
  .btn-blue {
    @apply py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}

/* 开启 tailwind JIT 模式后下面有关 scroll-snap 的样式全部失效，使用 style.module.css 代替。 */
@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-start {
    scroll-snap-align: start;
  }
  .scroll-snap-x {
    scroll-snap-type: x var(--scroll-snap-constraint);
  }
  .scroll-snap-y {
    scroll-snap-type: y var(--scroll-snap-constraint);
  }
  .scroll-snap-mandatory {
    --scroll-snap-constraint: mandatory;
  }
}