@media (min-width: 1024px) {
  .home-section-title-en {
    writing-mode: tb-rl;
  }
}

.wiggle-on-hover {
  animation: wiggle 2s ease-in-out infinite;
  /* animation-play-state: paused; */
  transform: rotate(0);
}

/* .wiggle-on-hover:hover {
  animation-play-state: running;
} */

@keyframes wiggle {
  0%,
  42%,
  100% {
    transform: rotate(0);
  }
  3%,
  15%,
  27%,
  39% {
    transform: rotate(3deg);
  }
  9%,
  21%,
  33% {
    transform: rotate(-3deg);
  }
}

.hero-text-mask {
  mask-image: url(../images/hero-title-mask.png);
  mask-repeat: no-repeat;
  mask-size: 34.5%;
  mask-position: 45.2% 49%;
}

.hero-text-mask-hover {
  mask-position: 45.2% calc(49% - 30px) !important;
}

.hero-text-mask-invert {
  mask-image: url(../images/hero-title-mask-invert.png);
  mask-repeat: no-repeat;
  mask-size: 34.5%;
  mask-position: 45.2% 49%;
}
